---
---

<nav>
    <span style="background-color: #1709318f;" id="toggle">
        🌐
    </span>
    <ul id="switchLang">
        <li>
            <a href="/en">English</a>
        </li>
        <li>
            <a lang="bn" href="/bn">বাংলা</a>
        </li>
        <li>
            <a lang="hi" href="/hi">हिंदी</a>
        </li>
        <li>
            <a lang="es" href="/es">Español</a>
        </li>

    </ul>
</nav>

