---
import { Image } from "astro:assets";
import siteLogo from "../../../assets/logo.svg";
---

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #site-info {
        display: flex;
        text-decoration: none;
        text-align: center;
    }
    #site-details {
        display: flex;
        flex-direction: column;
    }
    #site-name {
        font: 2.8em monospace;
    }
    #site-menu {
        display: flex;
    }

    .material-symbols-outlined {
        max-width: 27px;
        font-size: 1.7rem;
        background-color: #62ee2a;
        color: #4726dd;
        border-radius: 50%;
        padding: 5px;
    }
    .material-symbols-outlined:hover {
        cursor: pointer;
        background-color: #4726dd;
        color: #62ee2a;
    }
    li {
        list-style: none;
    }
    li > a {
        text-decoration: none;
    }

    #select-menu {
        touch-action: manipulation;
    }
    #buttonControl {
        display: none;
    }
    #buttonControl:checked + #select-menu + #header-menu {
        display: block;
    }
    #header-menu {
        display: none;
        position: absolute;
        right: 5px;
    }

    li > a {
        font-size: 1.39rem;
        display: block;
        border-radius: 0px;
        transition:
            border-radius 0.5s ease,
            background-color 0.79s ease,
            color 1s ease;
        background-color: #92e770;
        text-align: center;
        padding: 0.53rem;
    }

    li > a:hover {
        border-radius: 11px;
        background-color: #4726dd;
        color: #fff;
    }

    #nightMode,
    #dayMode,
    #profile {
        display: none;
    }
</style>
<header>
    <a href="/" id="site-info"
        ><Image src={siteLogo} alt={"Suyena Logo"} width={75} />
        <div id="site-details">
            <span id="site-name"> Suyena</span>
            <span id="site-motto"> Learn, grow, achieve.</span>
        </div></a
    >
    <div id="search"></div>
    <div id="site-menu">
        <div id="menu-items">
            <span id="switch-theme">
                <span
                    id="dayMode"
                    onclick="changeThemeColor()"
                    class="material-symbols-outlined"
                >
                    light_mode
                </span>
                <span
                    id="nightMode"
                    onclick="changeThemeColor()"
                    class="material-symbols-outlined"
                >
                    dark_mode
                </span>
            </span>
            <input type="checkbox" name="" id="buttonControl" />
            <label
                id="select-menu"
                for="buttonControl"
                class="material-symbols-outlined"
            >
                menu
            </label>
            <nav id="header-menu">
                <ul>
                    <li><a href="/programs">Programs</a></li>
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/blogs">Blogs</a></li>
                    <li><a href="/news">News & Events</a></li>
                    <li><a href="/glossary">Glossary</a></li>
                </ul>
            </nav>

            <span id="switch-language" class="material-symbols-outlined">
                language
            </span>
            <span id="profile" class="material-symbols-outlined"> person</span>
        </div>
    </div>
</header>
