---
import MainPageLayoutEn from "../../layouts/MainPageLayout/MainPageLayoutEn.astro";

const title = "Constact Us | Suyena";
const description =
    "Feel free to contact with Suyena on any purpose. Suyena understand your needs and believe that you are willful to help us.";
---

<MainPageLayoutEn title={title} , description={description}>
    <h1>Contact Us | Suyena</h1>
    <p>
        Feel free to contact with Suyena on any purpose. Suyena understand your
        needs and believe that you are willful to help us.
    </p>
    <article class="contact-form">
        <h2>Submit your query</h2>
        <form class="contact-us-form" action="https://formspree.io/f/xnqebqpq" method="POST">
            <h3>Contact Form</h3>
            <label>
                <span>Your Name:</span><br>
                <input class="input-box" type="text" name="name" required/>
            </label>
            <label>
                <span>Your Email Address:</span><br>
                <input class="input-box" type="email" name="email" required/>
            </label>
            <label>
                <span>
                    Your Message:
                </span><br>
                <textarea class="input-box" name="message" required></textarea>
            </label>
            <!-- your other form fields go here -->
            <button id="formSubmitted" type="submit" >Submit</button>
        </form>
    </article>    
    <article>
        <h2>Contact Information</h2>
        <section class="email">
            <h3>Email</h3>
        <span>contact@suyena.com</span>
        </section>
        <section class="phone">
            <h3>Phone</h3>
            <span>Not Available</span>
        </section>
    </article>
    <article>
        <h2>
            Follow on maps.
        </h2>
        <section class="google-maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14593.631112869354!2d90.3959949!3d23.8751547!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c50068b86107%3A0x863df61f19b511b4!2sSuyena!5e0!3m2!1sen!2sbd!4v1710577775903!5m2!1sen!2sbd" width="95%" height="95%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </article>
</MainPageLayoutEn>
<style is:global>
    .contact-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-us-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        gap: 0.5rem;
        background-color: #b8a4ee65;
        box-shadow: 0px 0px 20px 5px rgba(17, 0, 255, 0.397);
        border-radius: 1em;
        padding-bottom: 1rem;
        label{
            min-width: 300px;
            width: 90%;
            max-width: 600px;

            .input-box{
                background-color: rgba(155, 139, 248, 0.253);
                border: none;
                max-width: 95%;
                min-width: 50%;
                padding: 0.5em;
                margin: 0.3em;
                min-height: 2em;
                box-shadow: -11px -8px 20px 0px rgba(120, 38, 253, 0.384);
                border-radius: 0.1rem;
            }
            textarea{
                width: 100%;
                height: 15rem;
            }

        }
        
        button{
                padding: 0.5em 1em;
                background-color: rgba(109, 86, 241, 0.384);
                color: rgb(50, 20, 219);
                font-weight: bolder;
                font-size: medium;
                border: none;
                box-shadow: 0px 2px 5px rgba(104, 73, 218, 0.596);
                border-radius: 0.3rem;
                               
            }
    }
    .google-maps{
        text-align: center;
        height: 40vh;
        width: 100%;
        min-height: 300px;
        max-width: 600px;
        max-height: 450px;
    }
</style>


<!-- <script>
    function formSubmitted(event){
        event.preventDefault();
        alert("Thanks for sending your query. We will review your message soon.");
    };
    document.addEventListener('DOMContentLoaded', function(){
        document.getElementById('formSubmitted').addEventListener('submit', formSubmitted);
    });
</script> -->