---
import MainPageLayoutEn from "../../layouts/MainPageLayout/MainPageLayoutEn.astro";

const title = "Constact Us | Suyena";
const description = "Feel free to contact with Suyena on any purpose. Suyena understand your needs and believe that you are willful to help us.";
---

<MainPageLayoutEn title = {title}, description = {description}>
<h1>
    Contact Us | Suyena
</h1>
<p>
    Feel free to contact with Suyena on any purpose. Suyena understand your needs and believe that you are willful to help us.
</p>
<article>
    <h2>
        Contact Information
    </h2>
    <h3>
        Email
    </h3>
    <p>
        contact@suyena.com
    </p>
</article>
</MainPageLayoutEn>