---
import MainPageLayoutEn from "../../layouts/MainPageLayout/MainPageLayoutEn.astro";
const title = "Suyena | Perfectly Aligned";
const description = "A dream for your future. Learn, grow, achieve. Suyena Preserved the Dream.";

---
<MainPageLayoutEn title = {title}, description = {description}>
    <h1>This website is under development!</h1>
</MainPageLayoutEn>