---

---

<style>
    p {
        text-align: center;
    }

    #footer-nav,
    ul,
    #contact-info,
    #copyright-info {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #footer-nav > ul {
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        display: inline-flex;
        gap: 13px;
        list-style: none;
    }
    li > a {
        text-decoration: none;
    }
</style>
<footer>
    <nav id="footer-nav">
        <ul>
            <li><a href="about-us">About Us</a></li>
            <li><a href="contact-us">Contact Us</a></li>
            <li><a href="privacy">Privacy Policy</a></li>
            <li><a href="terms">Terms of Service</a></li>
            <li><a href="sitemap">Sitemap</a></li>
        </ul>
    </nav>
    <p id="contact-info">
        Made with 💕.<br />
        ~ <b>Tanjila Islam Tasmi</b>
    </p>
    <p id="copyright-info">
        <i>
            © 2024, <a
                href="/"
                style="text-decoration:none; font-weight:bold; color:purple; font-style:oblique"
                >Suyena</a
            > | All right reserved.
        </i>
    </p>
</footer>
