---

---

<style>
    nav {
    }
    li {
        list-style: none;
    }
    li a {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        transition:
                    border-radius 1.5s ease,
            background-color 0.79s ease,
            color 1s ease;
        font-size: large;
        display: inline-block;
        padding: 4px;
        text-decoration: none;
    }
    a:hover {
        border-radius: 10px;
        background-color: aliceblue;
        color: indigo;
    }
    ul {
        padding-inline-start: 15px;
    }
</style>

<ul>
    <li><a href="/programs">Programs</a></li>
    <ul>
        <li><a href="/programs/medicine">Medicine</a></li>
        <li><a href="/programs/science">Science</a></li>
        <li><a href="/programs/education">Education</a></li>
        <li><a href="/programs/engineering">Engineering</a></li>
        <li><a href="/programs/technology">Technology</a></li>
        <li><a href="/programs/humanities">Humanities</a></li>
    </ul>
    <li><a href="/courses">Courses</a></li>
    <li><a href="/resources">Resources</a></li>
</ul>
