---
const { title, description } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import MainNav from "../main/MainNav.astro";
---

<style>
    .content{
       display: flex;
       gap: 50px;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article {
        height: 75vh;
        width: 75vw;
    }
    
    nav {
        min-width: 200px;
    }
</style>
<BaseLayout title={title} , description={description}>
    <div class="content">
        <nav>
            <MainNav/>
        </nav>
        <main>
            <article>
                <slot />
            </article>
        </main>
    </div>
</BaseLayout>
