---
const { title, description } = Astro.props;
import FirebaseConfiguration from "../pageSetup/FirebaseConfiguration.astro";
import Header from "../main/header/Header.astro";
import Footer from "../main/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <!-- <link rel="manifest" href="manifest.json" /> -->
        <title>{title}</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
        />
        <style>
            body {
                background: #cbeec3;
            }
            hr {
                border: 1px solid rgba(7, 7, 155, 0.349);
                box-shadow: 2px 1px 20px 1px rgb(16, 49, 236);
            }
        </style></head
    >

    <body>
        <Header />
        <hr />
        <slot />
        <Footer />
        <FirebaseConfiguration />

        <!-- <script>
            if ("serviceWorker" in navigator) {
                window.addEventListener("load", function () {
                    navigator.serviceWorker.register("/service-worker.js").then(
                        function (registration) {
                            console.log(
                                "ServiceWorker registration successful with scope: ",
                                registration.scope,
                            );
                        },
                        function (err) {
                            console.log(
                                "ServiceWorker registration failed: ",
                                err,
                            );
                        },
                    );
                });
            }
        </script> -->
    </body>
</html>
