---
import MainPageLayoutEn from "../layouts/MainPageLayout/MainPageLayoutEn.astro";


const title = "404 | Not Found";
const description = "The page you are looking for is not found. Please considered yourself for the correct url or contact us for any other means."
---

<MainPageLayoutEn title = {title},  description = {description}>
    <h1>Sorry!</h1>
    <h2>The page you are looing for, is not found.</h2>
</MainPageLayoutEn>