---
import Layout from "../components/layouts/Layout.astro";
const title = "Suyena | Perfectly Aligned";
const description = "A dream for your future. Learn, grow, achieve. Suyena Preserved the Dream."
---

<Layout title={title}, description={description}>
    <h1>
        Coming Soon...
    </h1>
</Layout>