---
import MainPageLayout from "../components/layouts/MainPageLayout.astro";
const title = "Suyena | Perfectly Aligned";
const description =
    "A dream for your future. Learn, grow, achieve. Suyena Preserved the Dream.";
---

<MainPageLayout title={title} , description={description}>
        <h1>This website is under development!</h1>
</MainPageLayout>
