---
import MainPageLayoutEn from "../../../layouts/MainPageLayout/MainPageLayoutEn.astro";
const title = "About Us - Suyena";
const description =
    "Suyena is an educational website that delivers valuable information to its readers who aspire to enhance their lives in multiple domains. Suyena covers topics such as personal development, academic achievement, social skills, and financial literacy, among others. Suyena not only provides informative content but also offers specific and actionable guidance that readers can implement in their daily lives. Moreover, Suyena allows readers to access a variety of courses that can help them acquire skills that are essential in the modern workplace, such as communication, leadership, creativity, and problem-solving. By using Suyena, readers can expand their knowledge, improve their habits, achieve their objectives, and advance their careers.";
---

<MainPageLayoutEn title={title} , description={description}>
    <h1>{title}</h1>
    <p>
        Suyena isn't just another educational website. It's your personalized
        roadmap to success, empowering you to unlock your full potential in
        various aspects of life. Whether you seek to improve your skills, excel
        in academics, expand social circles with confidence, or achieve
        financial literacy, Suyena offers a variety of topics that match your
        ambitions.
    </p>
    <p>
        Suyena goes beyond mere information. It equips you with actionable,
        bite-sized guidance that seamlessly integrates into your daily routine.
        Master the art of communication, sharpen your leadership abilities,
        unleash your creativity, and develop effective problem-solving skills
        through Suyena's curated selection of courses, perfectly suitable to the
        demands of the modern work environment.
    </p>
</MainPageLayoutEn>
