---
import MainPageLayoutBn from "../../layouts/MainPageLayout/MainPageLayoutBn.astro";
const title = "আমাদের সম্পর্কে | সুয়েনা";
const description =
    "জীবনের বিভিন্ন দিকে এগিয়ে যেতে আগ্রহীদের জন্য সুয়েনা একটি মূল্যবান শিক্ষামূলক ওয়েবসাইট। ব্যক্তিগত বিকাশ, পড়াশোনা, সামাজিক দক্ষতা ও আর্থিক স্বচ্ছতাসহ নানা বিষয়ে তথ্যবহুল বিষয়বস্তু সরবরাহ করে সুয়েনা। শুধু তথ্যই নয়, আপনার দৈনন্দিন জীবনে কাজে লাগানোর মতো নির্দেশিকাও দেয় এই ওয়েবসাইট। আধুনিক কর্মক্ষেত্রে গুরুত্বপূর্ণ যোগাযোগ, নেতৃত্ব, সৃজনশীলতা ও সমস্যা সমাধানের মতো দক্ষতা অর্জনে সহায়তা করে সুয়েনার বিভিন্ন কোর্স। সুয়েনা ব্যবহার করে আপনি জ্ঞানের গণ্ডি পার হতে পারবেন, ভালো অভ্যাস গড়ে তুলতে পারবেন, লক্ষ্য অর্জন করতে পারবেন এবং কর্মজীবনেও এগিয়ে যেতে পারবেন।";
---

<MainPageLayoutBn title={title} , description={description}>
    <h1>আমাদের সম্পর্কে | সুয়েনা</h1>
    <p>
        সুয়েনা একটি শিক্ষামূলক ওয়েবসাইট যার উদ্দেশ্য জ্ঞানমূলক কিছু তথ্য দিয়ে
        পাঠকদের সহায়তা করা। সুয়েনা ওয়েবসাইট এর মাধ্যমে একজন পাঠক তার শিক্ষা
        জীবন, ব্যক্তি জীবন, সামাজিক ও অর্থনৈতিক জীবন সম্পর্কে জ্ঞান লাভ করতে
        পারে এবং ব্যক্তি জীবনে উল্লেখযোগ্য কিছু অর্জন করতে পারবে।
    </p>
    <p>
        সুয়েনা ওয়েবসাইট এর মাধ্যমে একজন পাঠক শুধু জ্ঞানই নয়, তার ব্যক্তি জীবনে
        প্রয়োজনীয় দক্ষতা অর্জনের জন্য সুনির্ধারিত কিছু নির্দেশিকা পেতে পারে এবং
        সেকল নির্দেশিকা বাস্তব জীবনে প্রয়োগের মাধ্যমে পাঠক তার বাস্তব জীবনে
        উন্নতি করতে পারে। সুয়েনা ওয়েবসাইটটি পাঠককে দিচ্ছে বিভিন্ন কোর্স করার
        সুবিধা, কর্মক্ষেত্রে প্রয়োজনীয় দক্ষতা অর্জনের জন্য উপযুক্ত নির্দেশিকা
        যার মাধ্যমে একজন পাঠক তার ব্যক্তিজীবনে দক্ষ মানুষ হয়ে উঠতে পারবে এবং
        কর্মক্ষেত্রে অনেকাংশেই এগিয়ে থাকবে।
    </p>
</MainPageLayoutBn>
