---
import MainPageLayoutBn from "../../layouts/MainPageLayout/MainPageLayoutBn.astro";
const title = "সুয়েনা - পুরোপুরি বিন্যস্ত";
const description  = "আপনার ভবিষ্যতের জন্য একটি স্বপ্ন। শিখুন, বাড়ুন, অর্জন করুন। সুয়েনা স্বপ্নকে বাঁচিয়ে রাখে।";
---
<MainPageLayoutBn title={title} , description={description}>    
    <h1>এই পাতাটির অগ্রগতি চলমান রয়েছে। </h1> 
</MainPageLayoutBn>