---
import "./footer.scss";
---
<footer>
    <nav>
        <ul>
            <li>
                <a href="/bn/about-us">ржЖржорж╛ржжрзЗрж░ рж╕ржорзНржкрж░рзНржХрзЗ</a>
            </li>
            <li>
                <a href="/bn/contact-us">ржпрзЛржЧрж╛ржпрзЛржЧ ржХрж░рзБржи</a>
            </li>
            <li>
                <a href="/bn/privacy">ржЧрзЛржкржирзАрзЯрждрж╛ ржУ ржирзАрждрж┐ржорж╛рж▓рж╛</a>
            </li>
            <li>
                <a href="/bn/terms">ржирж┐рзЯржо ржУ рж╢рж░рзНрждрж╛ржмрж▓рзА</a>
            </li>
            <li>
                <a href="bn/disclaimer">ржжрж╛ржмрж┐рждрзНржпрж╛ржЧ</a>
            </li>
            <li>
                <a href="/sitemap-index.xml">рж╕рж╛ржЗржЯржорзНржпрж╛ржк</a>
            </li>
        </ul>
    </nav>
    <p>
        ЁЯТХ ржжрж┐рзЯрзЗ рждрзИрж░рж┐ред<br />
        ~ <b>рждрж╛ржиржЬрзАрж▓рж╛ ржЗрж╕рж▓рж╛ржо рждрж╛ржЫржорзА</b>
    </p>
    <p>
        <i>
            ┬й рзирзжрзирзк, <a
                href="/bn/"
                style="text-decoration:none; font-weight:bold; color:purple; font-style:oblique"
                >рж╕рзБрзЯрзЗржирж╛</a
            > | рж╕рж░рзНржмрж╕рзНржмрждрзНржм рж╕ржВрж░ржХрзНрж╖рж┐ржд.
        </i>
    </p>
</footer>