---
import "./footer.scss";
---
<footer>
    <nav>
        <ul>
            <li>
                <a href="/en/about-us">About Us</a>
            </li>
            <li>
                <a href="/en/contact-us">Contact Us</a>
            </li>
            <li>
                <a href="/en/privacy">Privacy & Policy</a>
            </li>
            <li>
                <a href="en/terms">Terms & Conditions</a>
            </li>
            <li>
                <a href="en/disclaimer">Disclaimer</a>
            </li>
            <li>
                <a href="/sitemap-index.xml">Sitemap</a>
            </li>
        </ul>
    </nav>
    <p>
        Made with 💕.<br />
        ~ <b>Tanjila Islam Tasmi</b>
    </p>
    <p>
        <i>
            © 2024, <a
                href="/"
                style="text-decoration:none; font-weight:bold; color:purple; font-style:oblique"
                >Suyena</a
            > | All right reserved.
        </i>
    </p>
</footer>