---
import FirebaseConfiguration from "../components/pageSetup/FirebaseConfiguration.astro";


const { lang, title, description } = Astro.props;



// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyDHz-dRYjdngVm2-iL-4L18346WziA44_g",
  authDomain: "suyena-info.firebaseapp.com",
  projectId: "suyena-info",
  storageBucket: "suyena-info.appspot.com",
  messagingSenderId: "555587043456",
  appId: "1:555587043456:web:ccc3ff307f46c3b84f6665",
  measurementId: "G-1E0JD64VN7"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);



---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <meta name="google-adsense-account" content="ca-pub-4903148356302804" />
        <link rel="manifest" href="/manifest.json" />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <link rel="shortcut icon" href="/favicon.svg" type="image/xml" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
<!--         
        <script>
            if ("serviceWorker" in navigator) {
                window.addEventListener("load", function () {
                    navigator.serviceWorker.register("/service-worker.js").then(
                        function (registration) {
                            console.log(
                                "ServiceWorker registration successful with scope: ",
                                registration.scope,
                            );
                        },
                        function (err) {
                            console.log(
                                "ServiceWorker registration failed: ",
                                err,
                            );
                        },
                    );
                });
            }
        </script> -->
        <FirebaseConfiguration/>
    </body>
</html>

<style>
    body {
        p{
            line-height: 1.5rem;
        }
        background:
            linear-gradient(
                to right,
                rgba(180, 216, 179, 0.95),
                rgba(200, 213, 255, 0.95)
            ),
            url(../assets/logo.png) repeat;
    }
</style>
